
header {
    display: flex;

    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;

}

nav {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    margin-left:50%;

}

nav p {
    display: flex;
    margin-right: 2%;
}

.barmenu {
    width: 40%;
}

header p {
    font-size: larger;
}
.tarjetas img {
    width: 50%;
}

img.cartel {
    width: 25%;
    height: 40%
}



html {
    height: 100%;
    width: 100%;

  }

body {
    margin: 0;
}
main {
    margin: 10%;
    margin-top: 0;
    padding-bottom: 10%;
}

h1, h2 {
    color:#086F37;
}

.titleindex {
    color:#000000;
    text-align: center;
    padding-bottom: 5%;
}

.tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.tarjeta1, .tarjeta2, .tarjeta3 {
    width: 30%;

      }





footer p {
    color: white;
    text-align: center;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;

  }

footer a:hover {
    color: white;
    font-weight: bold;
    text-decoration-line: none;
}

footer a {
    color: white;
    text-decoration-line: none;
}

footer a:visited {
    color: white;
    text-decoration-line: none;
 
  }


  .parte2 {
    float: left;
    width: 20%;
    padding-bottom: 75px
  }

  .parte1 {
    float: right;
    width: 80%;
    padding-bottom: 75px
  }

.specialp {
    font-weight: bold;
}

a:hover {
    color: black;
    font-weight: bold;
    text-decoration-line: none;
}
a:visited {
    color: black;
    font-weight: bold;
    text-decoration-line: none;
}
a {
    text-decoration-line: none;
    font-weight: normal;
    color: black;
}

dt {
    font-weight: bold;
}

#map { height: 500px; }

@media (max-width: 480px) and (orientation: portrait) {
    .tarjetas {
      flex-direction: column;
      align-items: center;
      
    }
    .tarjeta1, .tarjeta2, .tarjeta3 {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }
      .barmenu {
        width: 80%;
    }

  }
  

